h1 Directive TEST
h1([directive]="color" ) Directive attribute Click Here!
p Pipe Test value : {{10 | pipeSample : 100}}
ion-card
    ion-card-header 
        center Hello world
    ion-cord-content
        center "This is ionic Card Sample"